/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --accent: #0d9488;
    --accent-dark: #0f766e;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
      0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", sans-serif;
    font-size: 20px;
    line-height: 1.7;
    color: rgb(var(--gray-dark));
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
  }

  h1 {
    font-size: 3.052em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  h2 {
    font-size: 2.441em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  h3 {
    font-size: 1.953em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  h4 {
    font-size: 1.563em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  h5 {
    font-size: 1.25em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  h6 {
    font-size: 1em;
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }

  strong,
  b {
    font-weight: 700;
  }

  a {
    color: rgb(var(--black));
    text-decoration: underline;
    text-decoration-color: rgba(13, 148, 136, 0.3);
    text-underline-offset: 2px;
    transition: all 0.2s;
  }
  a:hover {
    color: var(--accent);
    text-decoration-color: var(--accent);
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 2em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: 0.5em;
  }

  code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }

  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }
  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
  }
}

/* Override link styles for button-styled links */
a.no-underline {
  text-decoration: none !important;
}
a.text-white,
a.text-white:hover,
a.text-white span,
a.text-white svg {
  color: white !important;
}
a.text-teal-700,
a.text-teal-700 span,
a.text-teal-700 svg {
  color: rgb(15 118 110) !important;
}
a.text-teal-700:hover,
a.text-teal-700:hover span,
a.text-teal-700:hover svg {
  color: rgb(13 148 136) !important;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

@media (max-width: 720px) {
  main {
    padding: 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: none !important;
  transition: none !important;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
